* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: white;
    margin-bottom: 50px;
}

#logo {
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}
#logo-text {
    vertical-align: middle;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

/* Container */

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    
}

/* Upper part of container */
.upper {
    height: 70px;
    border-bottom: 3px solid #f6f8f9;
    line-height: 70px;
}

.button {
    padding: 6px;
    border-radius: 5px;
}

.button-task {
    background-color: rgb(22, 207, 231);
    border: 1px solid rgb(22, 207, 231);
    margin-left: 50px;
    color: white;
    width: 70px;
}

.button-section {
    background-color: white;
    border: 1px solid rgb(189, 183, 183);
    margin-left: 5px;
    color: black;
}

/* Bottom part of container */

.bottom {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
}

ul {
    list-style: none;
    color: rgb(70, 74, 83);
}

.blocco-elementi {
    margin-bottom: 50px;
}

ul li h2::before{
    content: '\25BE';
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

li {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
}


/* Check-boxes before the task */
li .circle::before{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 12px;
    font-size: 10px;
    text-align: center;
    margin-left: 5px;
}

li .circle.check::before{
    content: '\2713';
    border: 1px solid rgb(36, 228, 36);
    color:rgb(36, 228, 36) ;
}

li .circle.unchecked::before{
    content: '\2715';
    border: 1px solid rgb(223, 20, 20);
    color:rgb(223, 20, 20);
}


/* Tags after the description of the task */
.etichetta {
    padding: 6px 12px 6px 12px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}

.etichetta.editorial {
    background-color: rgb(54, 154, 236);
}

.etichetta.goals {
    background-color: rgb(190, 16, 190);
}

.etichetta.recruiting {
    background-color: rgb(16, 202, 131);
}

.etichetta.mobile {
    background-color: rgb(236, 158, 14);
}

.etichetta.website {
    background-color: rgb(230, 53, 162);
}

.etichetta.sales {
    background-color: rgb(154, 209, 72);
}
